alias :q='exit'
alias hg='history | grep'
alias ls='ls --color=auto'

# neovim
alias vi='nvim'
alias vim='nvim'

# bat
alias cat='bat --style=plain'

# exa
alias ls='exa'
alias ll='exa -la@ --git'

# sc
alias sc='sc-im'

# chezmoi
alias ca='chezmoi apply'
alias ccd='chezmoi cd'
alias ce='chezmoi edit'
alias cu='chezmoi update'

{{ if (and (eq .osid "linux-ubuntu") (.wsl)) -}}
# wsl
alias open='wslview'
{{ end -}}
