# shell
alias cat='bat --style=plain'
alias cd=z
alias ls='ls --color=auto'
alias ls='exa'
alias ll='ls -lh --color=auto'
alias ll='exa -la@ --git'
alias vim=nvim

# chezmoi
alias c=chezmoi
alias ca='chezmoi apply'
alias ce='chezmoi edit'

# git
alias groot='cd $(git rev-parse --show-toplevel || echo .)'

# helper
alias o='fd -Ht f -E .git | fzf-tmux -p | xargs nvim'
alias ytd='yt-dlp --write-sub --all-subs --convert-subs=srt --write-thumbnail'

# tmux
alias tm='tmuxinator'

# mutt
alias mutt=neomutt

{{ if (and (eq .osid "linux-ubuntu") (.wsl)) -}}
# wsl
alias open='wslview'
{{- end }}
