#!/bin/bash
set -e

convert {{ .chezmoi.sourceDir }}/../firewatch-1920x1080.jpg {{ .chezmoi.homeDir }}/.wallpaper.jpg
automator -i "{{ .chezmoi.homeDir }}/.wallpaper.jpg" {{ .chezmoi.homeDir }}/.config/automator/setWallpaper.workflow

killall Dock
