{{- if eq .osid "darwin" -}}
#!/usr/bin/env zsh

echo 'Installing homebrew...'
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo -e 'Installing packages...'
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.macos.formulae | sortAlpha | uniq -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.macos.casks | sortAlpha | uniq -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{- end -}}
