-- load wezterm api
local wezterm = require 'wezterm'

-- initialize config map
local config = {}
if wezterm.config_builder then
  config = wezterm.config_builder()
end

-- color theme
function scheme_for_appearance(appearance)
  if appearance:find 'Dark' then
    return 'Catppuccin Mocha'
  else
    return 'Catppuccin Latte'
  end
end
config.color_scheme = scheme_for_appearance(wezterm.gui.get_appearance())

-- font settings
{{- if eq .chezmoi.os "darwin" }}
config.font = wezterm.font 'CaskaydiaCove NFM'
config.font_size = 14.0
{{- else }}
config.font = wezterm.font 'CaskaydiaCove Nerd Font Mono'
config.font_size = 12.0
{{- end }}
config.harfbuzz_features = { 'calt=0', 'clig=0', 'liga=0' }
config.underline_position = -3

-- window settings
config.initial_rows = 42
config.initial_cols = 180
config.enable_scroll_bar = false
--config.window_decorations = 'TITLE'
config.window_padding = {
  left = 5,
  right = 5,
  top = 5,
  bottom = 5,
}

-- tabs
config.hide_tab_bar_if_only_one_tab = true

-- default command
{{- if eq .chezmoi.os "windows" }}
config.default_prog = { 'wsl.exe', '--cd', '~', '/bin/zsh', '-l', '-c', 'tmuxinator main' }
{{- else if eq .chezmoi.os "darwin" }}
config.default_prog = { '/bin/zsh', '-l', '-c', 'tmuxinator main' }
{{- else }}
--config.default_prog = { '/bin/zsh', '-c', 'tmuxinator main' }
{{- end }}

-- disable confirmation when closing
config.window_close_confirmation = 'NeverPrompt'

-- notifications
config.audible_bell = 'Disabled'

-- kitty graphics
config.enable_kitty_graphics=true

return config
