#!/bin/bash

HI='\033[33m'
CL='\033[0m'

set -e

echo -e "${HI}SETUP [Ubuntu]${CL}"


#############
### links ###
#############

echo -e "${HI}link commands${CL}"

ln -fs $(which fdfind) ~/.local/bin/fd
ln -fs $(which batcat) ~/.local/bin/bat


{{- if not .codespaces }}
##############
### docker ###
##############

echo -e "${HI}setup docker${CL}"

sudo systemctl enable docker.service
sudo systemctl enable containerd.service
sudo groupadd docker || true
sudo usermod -aG docker $USER

{{- end }}


##############
### vscode ###
##############

{{- if not .headless }}
echo -e "\n${HI}setup vscode${CL}"
{{-   range .plugins.vscode | sortAlpha | uniq }}
code --force --install-extension {{ . | quote }}
{{-   end }}
{{- end }}


############
### tldr ###
############

echo -e "${HI}setup tldr${CL}"

if [ ! -d ~/.local/share/tldr ]; then
    tldr --update
fi
