#!/bin/bash

HI='\033[33m'
CL='\033[0m'

set -e

echo -e "\n${HI}SETUP [MacOS]${CL}"


#############
### shell ###
#############

echo -e "\n${HI}setup shell${CL}"

sudo chsh -s $(which zsh) ${USER}


############
### asdf ###
############

echo -e "\n${HI}setup asdf${CL}"

asdf plugin add java || true
asdf plugin add gradle || true
asdf plugin add python || true


{{- if not .headless }}
##############
### vscode ###
##############

echo -e "\n${HI}setup vscode${CL}"

{{-   range .plugins.vscode | sortAlpha | uniq }}
code --force --install-extension {{ . | quote }}
{{-   end }}

{{- end }}


############
### tldr ###
############

echo -e "\n${HI}setup tldr${CL}"

if [ ! -d ~/.local/share/tldr ]; then
    tldr --update
fi
