{{- if (or (eq .osid "linux-ubuntu") (eq .osid "linux-debian")) -}}
#!/bin/bash

{{- if not .codespaces }}
echo 'Setting up docker...'
sudo systemctl enable docker.service
sudo systemctl enable containerd.service
sudo groupadd docker
sudo usermod -aG docker $USER
{{- end }}

echo 'Setting up tldr...'
tldr --update

echo 'Linking fd...'
ln -fs $(which fdfind) ~/.local/bin/fd

echo 'Linking bat...'
ln -fs $(which batcat) ~/.local/bin/bat

{{- end -}}