#!/bin/bash

HI='\033[33m'
CL='\033[0m'

set -e


################
### packages ###
################

echo -e "\n${HI}install homebrew${CL}"
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo -e "\n${HI}install packages${CL}"
brew bundle --no-lock --file=/dev/stdin <<EOF
{{- if .packages.macos.headless.taps }}
{{-   range .packages.macos.headless.taps | sortAlpha | uniq }}
tap {{ . | quote }}
{{-   end }}
{{- end }}

{{- if .packages.macos.headless.formulae }}
{{-   range .packages.macos.headless.formulae | sortAlpha | uniq }}
brew {{ . | quote }}
{{-   end }}
{{- end }}
{{- if (and (not .headless) .packages.macos.gui.formulae) }}
{{-   range .packages.macos.gui.formulae | sortAlpha | uniq }}
brew {{ . | quote }}
{{-   end }}
{{- end }}

{{- if .packages.macos.headless.casks }}
{{-   range .packages.macos.headless.casks | sortAlpha | uniq }}
cask {{ . | quote }}
{{   end }}
{{- end }}
{{- if (and (not .headless) .packages.macos.gui.casks) }}
{{-   range .packages.macos.gui.casks | sortAlpha | uniq }}
cask {{ . | quote }}
{{-   end }}
{{- end }}
EOF


##############
### custom ###
##############

# antigen
echo -e "\n${HI}install antigen${CL}"
curl -o ~/.config/zsh/antigen/antigen.zsh https://raw.githubusercontent.com/zsh-users/antigen/develop/bin/antigen.zsh

# dircolors (nord)
echo -e "\n${HI}install dircolors${CL}"
curl -o ~/.dir_colors https://raw.githubusercontent.com/nordtheme/dircolors/develop/src/dir_colors

# tpm
echo -e "\n${HI}install tpm${CL}"
if [ ! -d ~/.tmux/plugins/tpm ]; then
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

# Xresources (nord)
echo -e "\n${HI}install Xresources${CL}"
curl -o ~/.config/Xresources/nord https://raw.githubusercontent.com/nordtheme/xresources/develop/src/nord
