#!/bin/bash

HI='\033[33m'
CL='\033[0m'

set -e


{{ if .wsl -}}
# systemd
echo -e "\n${HI}test systemd${CL}"
if ! ps --no-headers -o comm 1 | grep -q "systemd"; then
    echo "[boot]\nsystemd=true" | sudo tee /etc/wsl.conf > /dev/null
    echo "Activating systemd. Please restart WSL and try again."
    exit 1
fi
echo "ok"

{{- end }}


################
### packages ###
################

# apt repositories
echo -e "\n${HI}add repositories${CL}"
sudo apt-get update
sudo apt-get install -y ca-certificates curl gnupg apt-transport-https
{{- range .packages.ubuntu.repositories }}
curl -fsSL {{ .key | quote }} | sudo gpg --yes --dearmor -o /etc/apt/keyrings/{{ .name }}.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/{{ .name }}.gpg] {{ .url }} {{ .dist }} {{ .comp }}" | sudo tee /etc/apt/sources.list.d/{{ .name }}.list
{{- end }}

# apt packages
echo -e "\n${HI}install packages${CL}"
sudo apt-get update
{{ if .packages.ubuntu.headless.apt -}}
sudo apt-get install -y {{ join " " (.packages.ubuntu.headless.apt | sortAlpha | uniq) }}
{{- end }}
{{ if (and (not .headless) .packages.ubuntu.gui.apt) -}}
sudo apt-get install -y {{ join " " (.packages.ubuntu.gui.apt | sortAlpha | uniq) }}
{{- end }}

# snaps
echo -e "\n${HI}install snaps${CL}"
{{ if .packages.ubuntu.headless.snaps -}}
{{-   range .packages.ubuntu.headless.snaps | sortAlpha | uniq }}
sudo snap install {{ . }}
{{-   end }}
{{- end }}
{{ if (and (not .headless) .packages.ubuntu.gui.snaps) -}}
{{-   range .packages.ubuntu.gui.snaps | sortAlpha | uniq }}
sudo snap install {{ . }}
{{-   end }}
{{- end }}


##############
### custom ###
##############

# antigen
echo -e "\n${HI}install antigen${CL}"
curl -o ~/.config/zsh/antigen/antigen.zsh https://raw.githubusercontent.com/zsh-users/antigen/develop/bin/antigen.zsh

# asdf
echo -e "\n${HI}install asdf${CL}"
if [ ! -d ~/.asdf ]; then
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf
fi

# dircolors (nord)
echo -e "\n${HI}install dircolors${CL}"
curl -o ~/.dir_colors https://raw.githubusercontent.com/nordtheme/dircolors/develop/src/dir_colors

# git-delta
echo -e "\n${HI}install git-delta${CL}"
DELTA_TAG=$(curl --silent "https://api.github.com/repos/dandavison/delta/releases/latest" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
echo "Latest release: ${DELTA_TAG}"
wget -q "https://github.com/dandavison/delta/releases/download/${DELTA_TAG}/git-delta_${DELTA_TAG}_amd64.deb"
sudo dpkg -i git-delta_${DELTA_TAG}_amd64.deb
rm git-delta_${DELTA_TAG}_amd64.deb

# minikube
echo -e "\n${HI}install minikube${CL}"
curl -o ~/.local/bin/minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
chmod ug+x ~/.local/bin/minikube

# tpm
echo -e "\n${HI}install tpm${CL}"
wget -c https://github.com/tmux-plugins/tpm/archive/master.tar.gz -O - | tar -xz -C ~/.config/tmux/plugins/tpm

# Xresources (nord)
echo -e "\n${HI}install Xresources${CL}"
curl -o ~/.config/Xresources/nord https://raw.githubusercontent.com/nordtheme/xresources/develop/src/nord
