# open elevated shell if not already running as admin
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
    if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
        # add -NoExit to keep elevated shell open after exit
        $CommandLine = "-File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
        Start-Process -Wait -FilePath PowerShell.exe -Verb Runas -ArgumentList $CommandLine
        Exit
    }
}


# locale
Write-Host -ForegroundColor Yellow "`nset locale"
Set-WinUserLanguageList -Force {{ .system.locale }}
Set-WinHomeLocation -GeoId {{ .system.geoid }}
Set-Culture {{ .system.region }}

# add bin folder to path
Write-Host -ForegroundColor Yellow "`nsetup bin folder"
$bin = "$env:USERPROFILE\bin"
$path = [Environment]::GetEnvironmentVariable('PATH', 'User').Split(';')
if (!$path.Contains($bin)) {
    $path = [String]::Join(';', $path + $bin)
    [Environment]::SetEnvironmentVariable('PATH', $path, 'User')
}

{{ if not .headless -}}
# chrome
Write-Host -ForegroundColor Yellow "`nsetup chrome"
{{-   range .plugins.chrome | sortAlpha | uniq }}
$null = [microsoft.win32.registry]::SetValue("HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Google\Chrome\Extensions\{{ . }}", "update_url", "https://clients2.google.com/service/update2/crx")
{{-   end }}
$null = [system.Diagnostics.Process]::Start("chrome")
read-host "Accept installation of extensions in Chrome and press ENTER to continue"
{{-   range .plugins.chrome_stylus | sortAlpha | uniq }}
$null = [system.Diagnostics.Process]::Start("chrome", {{ . | quote }})
{{-   end }}
read-host "Install the themes in Chrome and press ENTER to continue"

# vscode
Write-Host -ForegroundColor Yellow "`nsetup vscode"
{{-   range .plugins.vscode | sortAlpha | uniq }}
code --force --install-extension {{ . | quote }}
{{-   end }}
{{- end }}
