#!/bin/bash

HI='\033[33m'
CL='\033[0m'

set -e

echo -e "\n${HI}INSTALL [MacOS]${CL}"


################
### homebrew ###
################

echo -e "\n${HI}install homebrew packages${CL}"

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file=/dev/stdin <<EOF
{{- if .packages.macos.headless.formulae }}
{{-   range .packages.macos.headless.formulae | sortAlpha | uniq }}
brew {{ . | quote }}
{{-   end }}
{{- end }}

{{- if .packages.macos.headless.casks }}
{{-   range .packages.macos.headless.casks | sortAlpha | uniq }}
cask {{ . | quote }}
{{-   end }}
{{- end }}


{{- if not .headless }}

{{-   if .packages.macos.gui.formulae }}
{{-     range .packages.macos.gui.formulae | sortAlpha | uniq }}
brew {{ . | quote }}
{{-     end }}
{{-   end }}

{{-   if .packages.macos.gui.casks }}
{{-     range .packages.macos.gui.casks | sortAlpha | uniq }}
cask {{ . | quote }}
{{-     end }}
{{-   end }}

{{- end }}
EOF
