{{- if (and (eq .osid "linux-ubuntu") (not .codespaces)) -}}
#!/bin/bash

echo 'Setting up docker...'
sudo systemctl enable docker.service
sudo systemctl enable containerd.service
sudo groupadd docker
sudo usermod -aG docker $USER

{{- end -}}
