#!/bin/bash

# rerun script when one of the files change
# wallpaper.svg.tmpl hash: {{ include "private_dot_config/wallpaper/wallpaper.svg" | sha256sum }}

HI='\033[33m'
CL='\033[0m'

set -e


################
### settings ###
################

# wallpaper
echo -e "\n${HI}set wallpaper${CL}"
convert ~/.config/wallpaper/wallpaper.svg ~/.config/wallpaper/wallpaper.jpg
automator -i "{{ .chezmoi.homeDir }}/.config/wallpaper/wallpaper.jpg" {{ .chezmoi.homeDir }}/.config/automator/setWallpaper.workflow

killall Dock


####################
### applications ###
####################

# zsh
echo -e "\n${HI}setup zsh${CL}"
sudo chsh -s $(which zsh) ${USER}

# asdf
echo -e "\n${HI}setup asdf${CL}"
asdf plugin add java || true
asdf plugin add gradle || true
asdf plugin add python || true

# bat
echo -e "\n${HI}setup bat${CL}"
bat cache --build

# tldr
echo -e "\n${HI}setup tldr${CL}"
if [ ! -d ~/.local/share/tldr ]; then
    tldr --update
fi

{{  if not .headless -}}
# vscode
echo -e "\n${HI}setup vscode${CL}"
{{-   range .plugins.vscode | sortAlpha | uniq }}
code --force --install-extension {{ . | quote }}
{{-   end }}
{{- end }}
