###############
### systems ###
###############

{{ if eq .chezmoi.os "linux" -}}
**/*.ps1
.config/automator
AppData
Library
bin
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
**/*.ps1
AppData
bin
{{- end }}

{{ if eq .chezmoi.os "windows" -}}
**/*.sh
.config/*
!.config/git
!.config/wezterm
.local/*
.bashrc
.hyper.js
.Xresources
.zprofile
.zshrc
Library
{{- end }}


################
### features ###
################

{{ if .headless -}}
# headless
.config/Code
.hyper.js
AppData/Roaming/Code
AppData/Roaming/Hyper
Library/Application Support/Code
{{- end }}
