{{/* os detection */}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* environment detection */}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $wsl := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}

{{/* email prompt */}}
{{- $email := "" -}}
{{- if stdinIsATTY -}}
{{-   $email = promptStringOnce . "email" "email" -}}
{{- end -}}

{{/* user flags */}}
{{- $headless := false -}}{{/* headless setup */}}
{{- $safe     := false -}}{{/* safe mode, i.e. no setup from external resources */}}
{{- if $codespaces -}}
{{-   $headless = true -}}
{{-   $safe = false -}}
{{- end -}}
{{- if $wsl -}}
{{-   $headless = true -}}
{{- end -}}
{{- if (and (not $headless) stdinIsATTY) -}}
{{-   $headless = promptBoolOnce . "headless" "headless" false -}}
{{- end -}}
{{- if (and (not $safe) stdinIsATTY) -}}
{{-   $safe = promptBoolOnce . "safe" "safe mode" false -}}
{{- end -}}


sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    # environment
    osid = {{ $osid | quote }}
    codespaces = {{ $codespaces }}
    wsl = {{ $wsl }}

    # flags
    headless = {{ $headless }}
    safe = {{ $safe }}

    # variables
    email = {{ $email | quote }}
