{{ if eq .osid "windows" -}}
**  # ignore all
!AppData/**
{{- else -}}
AppData/**
{{- end }}

{{ if eq .osid "darwin" -}}
dot_config/Code/**
{{- else -}}
Library/**
{{- end }}

# always include chezmoi files
!.chezmoiscripts/**
!.chezmoitemplates/**
