sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    # os variable and flags for wsl and codespaces
    {{- $osid := .chezmoi.os }}
    {{- if hasKey .chezmoi.osRelease "id" }}
    {{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id }}
    {{- end }}
    osid = {{ $osid | quote }}
    wsl = {{ (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
    {{- $codespaces:= env "CODESPACES" | not | not }}
    codespaces = {{ $codespaces }}

    # git email
    {{ if not $codespaces }}
    {{-   $email := promptStringOnce . "email" "Email address" }}
    email = {{ $email | quote }}
    {{- end }}

    # flag to install system packages
    {{ if $codespaces }}
    systemSetup = true
    {{- else }}
    systemSetup = {{ promptBool "Install system packages" true }}
    {{- end }}
