{{- if not .safe -}}
{{-   if ne .osid "windows" }}
[".config/tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/antigen/antigen.zsh"]
    type = "file"
    url = "https://raw.githubusercontent.com/zsh-users/antigen/develop/bin/antigen.zsh"
    refreshPeriod = "168h"
[".dir_colors"]
    type = "file"
    url = "https://raw.githubusercontent.com/nordtheme/dircolors/develop/src/dir_colors"
    refreshPeriod = "168h"
[".config/Xresources/nord"]
    type = "file"
    url = "https://raw.githubusercontent.com/nordtheme/xresources/develop/src/nord"
    refreshPeriod = "168h"
{{-   end }}

{{-   if eq .osid "linux-ubuntu" }}
[".local/bin/minikube"]
    type = "file"
    url = "https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64"
    executable = true
    refreshPeriod = "168h"
{{-   end -}}
{{- end -}}
