# flag dependent
{{ if .headless -}}
.config/Code
.hyper.js
AppData/Roaming/Code
AppData/Roaming/Hyper
Library/Application Support/Code
{{ end -}}

{{ if .safe -}}
.chezmoiscripts/setup/*
{{ end -}}


# os dependent
{{ if eq .osid "windows" -}}
.config/*
!.config/git
.local/*
.bashrc
.hyper.js
.zprofile
.zshrc
Library
{{- end }}

{{ if eq .osid "darwin" -}}
.config/Code
AppData
{{- end }}

{{ if eq .chezmoi.os "linux" -}}
AppData
Library
{{- end }}
