# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    path+=("$HOME/.local/bin")
fi

# Expand $PATH to include the directory where snappy applications go.
snap_bin_path="/snap/bin"
if [ -n "${PATH##*${snap_bin_path}}" ] && [ -n "${PATH##*${snap_bin_path}:*}" ]; then
    export PATH="$PATH:${snap_bin_path}"
fi

{{- if eq .osid "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

{{- if eq .osid "linux-arch" }}
# start wm on boot
if [[ "$(tty)" == '/dev/tty1' ]]; then
    exec startx
fi
{{- end }}

# ibus
export GTK_IM_MODULE=ibus
export SDK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus

# xdg
export XDG_SESSION_TYPE=x11
