{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh
sudo apt install -y zsh neovim tmux tmuxinator neofetch
chsh -s $(which zsh)
{{- else if eq .osid "darwin" -}}
#!/bin/sh
brew install zsh neovim tmux tmuxinator neofetch
chsh -s $(which zsh)
{{- end -}}
