{{- if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/usr/bin/env zsh

# rerun script when one of this files change
# oneline.zsh-theme hash: {{ include "dot_zsh/oneline.zsh-theme" | sha256sum }}
# .zshrc hash: {{ include "dot_zshrc" | sha256sum }}

HIGHLIGHT='\e[0;33m'
RESET='\e[0m'

# reload zsh plugins and themes
echo "${HIGHLIGHT}Reloading zsh...${RESET}"
source ~/.zshrc
antigen reset

{{- end -}}
