{{/* installs vscode extensions. */}}
{{- if (and (eq .chezmoi.os "linux" "darwin") (not .headless)) -}}
#!/bin/bash
set -e
echo "Setting up vscode..."

{{- range .plugins.vscode | sortAlpha | uniq }}
code --force --install-extension {{ . | quote }}
{{- end }}

{{- end -}}
