{{- if (or (eq .osid "linux-ubuntu") (eq .osid "darwin")) -}}
#!/usr/bin/env bash

HIGHLIGHT='\033[0;33m'
RESET='\033[0m'

echo -e "${HIGHLIGHT}Setting up VSCode...${RESET}"
{{ template "vscode-setup.sh" . -}}

{{- end -}}
