{{/* sets up chrome extensions and userstyles. */}}
{{- if (and (eq .chezmoi.os "linux" "darwin") (not .headless)) -}}
#!/bin/bash
set -e
echo "Setting up chrome..."

{{- range .plugins.chrome | sortAlpha | uniq }}
echo "{\"external_update_url\": \"https://clients2.google.com/service/update2/crx\"}" > ~/Library/Application\ Support/Google/Chrome/External\ Extensions/{{ . }}.json
{{- end }}

{{- end -}}
