{{/* sets up tldr, a quick and easy manual for commands. */}}
{{- if eq .chezmoi.os "linux" "darwin" -}}
#!/bin/bash
set -e
echo "Setting up tldr..."

if [ ! -d ~/.local/share/tldr ]; then
    tldr --update
fi

{{- end -}}
