{{/* installs asdf, a manager for language versions. */}}
{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -e
echo "Setting up asdf..."

if [ ! -d ~/.asdf ]; then
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf
fi

asdf plugin add gradle || true
asdf plugin add java || true
asdf plugin add maven || true
asdf plugin add python || true

{{- end -}}
