{{- if (and (eq .osid "linux-ubuntu") (eq .systemSetup true)) -}}
#!/usr/bin/env bash

HIGHLIGHT='\033[0;33m'
RESET='\033[0m'

# packages
echo -e "${HIGHLIGHT}Installing packages...${RESET}"
sudo apt install -y zsh neovim tmux tmuxinator neofetch git curl

# zsh
echo -e "${HIGHLIGHT}Setting up zsh...${RESET}"
sudo chsh -s $(which zsh) ${USER}

{{- end -}}
