{{/* sets up apt repositories and installs packages. */}}
{{- if eq .osid "linux-ubuntu" -}}
#!/bin/bash
set -e
echo "Installing packages..."

# repositories
sudo apt-get update
sudo apt-get install -y ca-certificates curl gnupg apt-transport-https
{{- range .packages.ubuntu.repositories }}
curl -fsSL {{ .key | quote }} | sudo gpg --yes --dearmor -o /etc/apt/keyrings/{{ .name }}.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/{{ .name }}.gpg] {{ .url }} {{ .dist }} {{ .comp }}" | sudo tee /etc/apt/sources.list.d/{{ .name }}.list
{{- end }}

# packages
sudo apt-get update
{{ if .packages.ubuntu.headless -}}
sudo apt-get install -y {{ join " " (.packages.ubuntu.headless | sortAlpha | uniq) }}
{{- end }}
{{ if (and (not .headless) .packages.ubuntu.gui) -}}
sudo apt-get install -y {{ join " " (.packages.ubuntu.gui | sortAlpha | uniq) }}
{{- end }}

# snaps
{{ if .packages.ubuntu.snaps -}}
{{-   range .packages.ubuntu.snaps | sortAlpha | uniq }}
sudo snap install {{ . }}
{{-   end }}
{{- end }}
{{ if (and (not .headless) .packages.ubuntu.snaps_gui) -}}
{{-   range .packages.ubuntu.snaps_gui | sortAlpha | uniq }}
sudo snap install {{ . }}
{{-   end }}
{{- end }}

{{- end -}}
