{{/* installs fonts on windows. */}}
{{- if (and (eq .chezmoi.os "windows") (not .headless)) -}}
Write-Host "Setting up fonts..."

cd {{ .chezmoi.homeDir }}
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process -force

# Cascadia Code Nerd Font
If (-Not (Test-Path -Path .nerd-fonts)) {
    Write-Host -ForegroundColor Yellow "`ninstall nerd-fonts"
    git clone --depth 1 https://github.com/ryanoasis/nerd-fonts.git .nerd-fonts
    ./.nerd-fonts/install.ps1 CascadiaCode
    #Remove-Item .nerd-fonts -Recurse -Force
}

{{- end -}}
