{{- if eq .osid "darwin" -}}
#!/usr/bin/env zsh

HIGHLIGHT='\e[0;33m'
RESET='\e[0m'

# homebrew
echo -e "${HIGHLIGHT}Installing homebrew...${RESET}"
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# packages
echo -e "${HIGHLIGHT}Installing packages...${RESET}"
brew install zsh neovim tmux tmuxinator neofetch git curl

# tmux plugin manager
echo -e "${HIGHLIGHT}Installing tpm...${RESET}"
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm || true

{{- end -}}
