{{- $packages := list
    "9MTFTXSJ9M7F --source msstore  # RoundedTB"
    "9NCBCSZSJRSB --source msstore  # Spotify"
    "9PDXGNCFSCZV --source msstore  # Ubuntu (WSL)"
    "dandavison.delta"
    "KeePassXCTeam.KeePassXC"
    "Logseq.Logseq"
    "Microsoft.VisualStudioCode"
    "Mozilla.Firefox"
    "Nextcloud.NextcloudDesktop"
    "QMK.QMKToolbox"
    "SamHocevar.WinCompose"
    "Spotify.Spotify"
    "twpayne.chezmoi"
    "wez.wezterm" -}}

{{- if .gaming -}}
{{-   $packages = concat $packages (list "Discord.Discord" "GOG.Galaxy" "Valve.Steam") -}}
{{- end -}}

# open elevated shell if not already running as admin
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
    if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
        # add -NoExit to keep elevated shell open after exit
        $CommandLine = "-File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
        Start-Process -Wait -FilePath PowerShell.exe -Verb Runas -ArgumentList $CommandLine
        Exit
    }
}

{{ range $packages | sortAlpha | uniq -}}
winget install --accept-package-agreements --accept-source-agreements -e --id {{ . }}
{{ end -}}
