command=~/.config/i3blocks/blocks/$BLOCK_NAME||/usr/lib/i3blocks/$BLOCK_NAME/$BLOCK_NAME
markup=pango
separator=false
separator_block_width=10


############
# hardware #
############

[fancontrol]
color=#f38ba8
interval=60

[cpu_utilization]
label= 
color=#cba6f7
interval=10
min_width= 99% (99°C)

[memory]
label= 
color=#cba6f7
interval=30

[disk]
label= 
color=#cba6f7
instance=/
interval=60

[nvidia_utilization]
label=󰍹 
color=#cba6f7
min_width=󰍹 99% (99°C)
interval=10

separator=true
separator_block_width=20


###########
# network #
###########

[essid]
label= 
color=#b4befe
interval=60

[nm-vpn]
label=󰖂 
command=nmcli con show --active | grep -i vpn | awk -F '  ' '{print $1}' | head -n1
color=#b4befe
interval=10

[bandwidth]
#color=#89b4fa
color=#b4befe
interval=10
INLABEL= 
OUTLABEL= 
min_width= 999K  99K

separator=true
separator_block_width=20


#########
# audio #
#########

[mediaplayer]
label= 
color=#a6e3a1
interval=1
player=spotify

[microphone]
signal=10
interval=60

[volume]
label= 
color=#f9e2af
instance=Master
signal=10
interval=60

separator=true
separator_block_width=20


##########
# system #
##########

[weather]
label= 
command=echo $(curl 'https://wttr.in/{{ .location }}?format=%C%20%t')
color=#f2cdcd
interval=600

[time]
command=date '+%Y-%m-%d %H:%M'
label= 
interval=1

#[power]
#command=i3-msg 'mode "(l)ock, (e)xit, (s)uspend, (r)eboot, (Shift+s)hutdown"' > /dev/null
#full_text= 
#color=#f38ba8

[spacer]
full_text=
