{{- if eq .osid "linux-arch" -}}

{{- $packages := list
    "acpi"
    "asdf-vm"
    "bat"
    "btop"
    "cargo"
    "chezmoi"
    "git-delta"
    "docker"
    "docker-credential-pass"
    "fd"
    "fzf"
    "git"
    "gnupg"
    "ibus"
    "imagemagick"
    "libfido2"
    "luarocks"
    "lynx"
    "make"
    "neomutt"
    "neofetch"
    "npm"
    "ollama-cuda"
    "pass"
    "pass-otp"
    "python"
    "python-pip"
    "python-pynvim"
    "polkit"
    "qmk"
    "ripgrep"
    "thermald"
    "tmux"
    "tmuxinator"
    "tree-sitter-cli"
    "udisks2"
    "unzip"
    "zoxide"
    "zsh" -}}

{{- if not .headless -}}
{{-   $packages = concat $packages (list
    "alsa-utils"
    "autorandr"
    "biber"
    "catppuccin-cursors-mocha"
    "conky"
    "dex"
    "dunst"
    "feh"
    "firefox"
    "firefox-extension-passff"
    "i3-gaps"
    "i3-wm"
    "i3blocks"
    "i3blocks-contrib"
    "i3lock"
    "i3status"
    "keepassxc"
    "libqalculate"
    "nextcloud-client"
    "noto-fonts"
    "noto-fonts-cjk"
    "noto-fonts-emoji"
    "noto-fonts-extra"
    "nvidia"
    "nvidia-settings"
    "nvidia-utils"
    "papirus-icon-theme"
    "pass-secret-service-bin"
    "picom"
    "pinentry"
    "pipewire"
    "pipewire-alsa"
    "pipewire-audio"
    "pipewire-jack"
    "pipewire-pulse"
    "playerctl"
    "polkit-gnome"
    "rofi"
    "scrot"
    "spotify-launcher"
    "spotifyd"
    "sysstat"
    "texlive"
    "ttf-dejavu"
    "ttf-cascadia-code-nerd"
    "ttf-liberation"
    "unclutter"
    "visual-studio-code-bin"
    "wezterm"
    "wmctrl"
    "xclip"
    "xdotool"
    "xorg-apps"
    "xorg-server"
    "xorg-xinit"
    "xss-lock"
    "zathura"
    "zathura-pdf-poppler") -}}
{{-   $packages = concat $packages (list "qutebrowser" "python-adblock" "python-tldextract" "yt-dlp") -}}
{{- end -}}

{{- if .gaming -}}
{{-   $packages = concat $packages (list "discord" "gamemode" "lib32-gamemode" "lib32-nvidia-utils" "lutris" "steam") -}}
{{- end -}}

#!/bin/bash
set -e

# install paru aur helper
if ! command -v paru &> /dev/null; then
    sudo pacman -Syu --needed base-devel git
    rm -rf paru-git
    git clone https://aur.archlinux.org/paru-git.git
    cd paru-git && makepkg -si
    cd ../ && rm -rf paru-git
fi

# enable multilib
sudo sed -i "/\[multilib\]/,/Include/"'s/^#//' /etc/pacman.conf

paru -Syu --needed {{ join " " ( $packages | sortAlpha | uniq ) }}

bat cache --build

# create nvidia xorg config
sudo nvidia-xconfig

# activate services
sudo systemctl enable nvidia-hibernate.service
sudo systemctl enable nvidia-suspend.service
sudo systemctl enable nvidia-resume.service
sudo systemctl enable thermald.service
sudo systemctl enable ollama.service
systemctl --user enable pipewire.socket
systemctl --user enable pipewire.service
systemctl --user enable pipewire-pulse.socket
systemctl --user enable pipewire-pulse.service
systemctl --user enable wireplumber.service

{{ if .gaming -}}
sudo usermod --append --groups gamemode $(whoami)
{{- end }}

{{- end }}
