{{- if not .ephemeral -}}
{{- /* requires systemd - depends on setup-wsl.sh */ -}}

#!/bin/bash
set -e

sudo systemctl enable docker.service
sudo systemctl enable containerd.service
sudo groupadd docker || true
sudo usermod -aG docker $USER

{{- end -}}
