{{- if eq .osid "linux-arch" -}}

{{- $packages := (list "acpi" "chezmoi" "dnsutils" "ibus" "imagemagick" "make" "thermald" "udisks2" "unzip" "linux-headers" "mkinitcpio-firmware") -}}
{{- $packages = concat $packages (list "networkmanager" "openvpn" "networkmanager-openvpn" "nm-connection-editor" "network-manager-applet" "openconnect" "networkmanager-openconnect" "networkmanager-dmenu-git") -}}
{{- $packages = concat $packages (list "bluez" "bluez-utils" "blueberry") -}}
{{- $packages = concat $packages (list "git" "git-delta") -}}
{{- $packages = concat $packages (list "docker" "docker-credential-pass" "kubectl" "helm" "opentofu") -}}
{{- $packages = concat $packages (list "qmk") -}}
{{- $packages = concat $packages (list "zsh" "fastfetch" "zoxide" "fd" "fzf" "ripgrep" "btop" "bat") -}}
{{- $packages = concat $packages (list "asdf-vm" "python" "python-pip" "npm" "cargo") -}}
{{- $packages = concat $packages (list "gnupg" "pass" "pass-otp" "libfido2") -}}
{{- $packages = concat $packages (list "tmux" "tmuxinator") -}}
{{- $packages = concat $packages (list "neovim" "tree-sitter-cli" "python-pynvim" "luarocks" "ollama-cuda") -}}
{{- $packages = concat $packages (list "neomutt" "lynx") -}}

{{- if not .headless -}}
{{- $packages = concat $packages (list "ly") -}}
{{- $packages = concat $packages (list "xorg-server" "xorg-xinit" "xorg-apps" "xclip" "xss-lock" "autorandr" "unclutter" "xdotool" "wmctrl") -}}
{{- $packages = concat $packages (list "i3-wm" "i3-gaps" "i3status" "i3blocks" "i3blocks-contrib" "sysstat" "pacman-contrib" "i3lock" "picom" "dunst" "feh" "conky" "dex" "rofi" "libqalculate" "scrot") -}}
{{- $packages = concat $packages (list "alsa-utils" "pipewire" "pipewire-audio" "pipewire-alsa" "pipewire-pulse" "pipewire-jack" "easyeffects") -}}
{{- $packages = concat $packages (list "ttf-cascadia-code-nerd" "ttf-dejavu" "ttf-liberation" "noto-fonts" "noto-fonts-cjk" "noto-fonts-emoji" "noto-fonts-extra") -}}
{{- $packages = concat $packages (list "catppuccin-cursors-mocha" "papirus-icon-theme") -}}
{{- $packages = concat $packages (list "pinentry" "polkit" "polkit-gnome" "pass-secret-service-bin") -}}
{{- $packages = concat $packages (list "wezterm" "alacritty") -}}
{{- $packages = concat $packages (list "feh" "nsxiv") -}}
{{- $packages = concat $packages (list "mpv") -}}
{{- $packages = concat $packages (list "firefox" "browserpass" "browserpass-firefox") -}}
{{- $packages = concat $packages (list "librewolf-bin" "browserpass" "browserpass-librewolf") -}}
{{- $packages = concat $packages (list "qutebrowser" "python-adblock" "python-tldextract" "yt-dlp") -}}
{{- $packages = concat $packages (list "texlive" "biber" "pandoc" "zathura" "zathura-pdf-mupdf" "zathura-cb" "tesseract-data-eng" "tesseract-data-deu") -}}
{{- $packages = concat $packages (list "spotify-launcher" "spotifyd" "playerctl") -}}
{{- $packages = concat $packages (list "visual-studio-code-bin") -}}
{{- $packages = concat $packages (list "signal-desktop") -}}
{{- $packages = concat $packages (list "nextcloud-client") -}}
{{- $packages = concat $packages (list "nemo" "nemo-fileroller" "nemo-seahorse" "nemo-preview" "gvfs-nfs" "gvfs-smb") -}}
{{- $packages = concat $packages (list "nvidia-open" "nvidia-settings" "nvidia-utils") -}}
{{- end -}}

{{- if .gaming -}}
{{- $packages = concat $packages (list "lutris" "steam" "discord" "gamemode" "lib32-gamemode" "mangohud" "lib32-nvidia-utils" "xpadneo-dkms") -}}
{{- end -}}

#!/bin/bash
set -e

# install paru aur helper
if ! command -v paru &> /dev/null; then
    sudo pacman -Syu --needed base-devel git
    rm -rf paru-git
    git clone https://aur.archlinux.org/paru-git.git
    cd paru-git && makepkg -si
    cd ../ && rm -rf paru-git
fi

# enable multilib
sudo sed -i "/\[multilib\]/,/Include/"'s/^#//' /etc/pacman.conf

paru -Syu --needed {{ join " " ( $packages | sortAlpha | uniq ) }}

bat cache --build

# create nvidia xorg config
sudo nvidia-xconfig

# activate services
sudo systemctl enable nvidia-hibernate.service
sudo systemctl enable nvidia-suspend.service
sudo systemctl enable nvidia-resume.service
sudo systemctl enable thermald.service
sudo systemctl enable ollama.service
sudo systemctl enable ly.service
systemctl --user enable pipewire.socket
systemctl --user enable pipewire.service
systemctl --user enable pipewire-pulse.socket
systemctl --user enable pipewire-pulse.service
systemctl --user enable wireplumber.service

{{ if .gaming -}}
sudo usermod --append --groups gamemode $(whoami)
{{- end }}

{{- end }}
